body {
    background-color: lightgrey;
}
.login-container {
    margin: auto;
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login {
    background: white;
    padding: 5%;
    border-radius: 10px;
}
.login h1 {
    text-align: center;
}
button[type="submit"] {
    width: 100%;
}

/************* ADMIN PERSPECTIVE INDEX ****************/

.admin-header {
    height: 50px;
}
aside {
    height: 100vh;
}
.col-3 {
    padding: 0px;
}
.logo h1 {
    display: flex;
    justify-content: center;
    align-items: center;    
    vertical-align: centers;
    color: white;
    font-size: 35px;
    font-family: arial;
    font-weight: bolder;
}
.logo a {
    text-decoration: none;
}
.profile {
    text-align: center;
    display: flex;
    justify-content: center;
    align-self: center;
    color: white;
}
nav {
    height: 100vh;
}
nav ul {
    padding: 0px;
}
nav ul li {
    list-style: none;
    color: white;
    text-align: center;
    padding: 15px
}
nav ul li:first-child {
    padding-top: 50px;
}
nav ul li:first-child:hover {
    background-color: transparent;
}
nav ul li:hover {
    background-color: rgba(1, 1, 1, 0.5);
    cursor: pointer;
}
nav ul li i {
    margin-right: 15px;
}
.profile img {
    border-radius: 50px;
    margin-right: 10px;
}
.profile h2 {
    font-size: 20px;
}
.admin-header {
    display: flex;
    justify-content: space-between;
}
.inner-list li:first-child {
    padding-top: 0px;
}
.inner-list li:hover {
    background-color: transparent;
}
.inner-list {
    display: none;
}
.inner-list li {
    margin-left: 140px;
    text-align: start;
}
main {
    display: flex;
}
#main-content {
    padding: 30px;
}
#main-content {
    background-color: white;
}
#main-content > h1 {
    color: black;
    font-size: 30px;
}
.card {
    background: rgb(211,211,211);
    background: linear-gradient(52deg, rgba(211,211,211,1) 0%, rgba(0,0,0,1) 100%);
    height: 120px;
    border: 1px solid white;
    margin-left: 10px;
}
.card {
    color: white;
    text-align: center;
    padding: 25px;
}
form {
    display: flex;
}
.radio {
    display: flex;
}
.radio .form-check {
    margin-right: 10px;
}
.form-group {
    margin-top: 20px;
}
.first-group {
    padding-top: 50px;
}
.section-header, .filters {
    display: flex;
    justify-content: space-between;
}
.choice {
    display: none;
}
.courses {
    display: flex;
    flex-wrap: wrap;
}
.courses p, .drop-area p {
    border: 1px solid black;
    margin: 3px;
    padding: auto;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    display: inline;
}

.course-related {
    display: flex;
    justify-content: space-between;
}
.courses p {
    cursor: grab;
}
.drop-area {
    padding: 10px;
}
.drop-area p {
    border: 1px solid black;
    display: inline-block;
}
.drop-area p:hover {
    border: 2px solid red;
    color: red;
    cursor: pointer;
}
.date > input {
    outline: none;
    display: inline;
}
.date i {
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    margin: 0px;
    display: inline;
}
.teacher-table::-webkit-scrollbar-track {
    background: orange;        /* color of the tracking area */
}
.teacher-table {
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.filters {
    z-index: 10;
}
.profile {
    cursor: pointer ;
}
.details {
    background-color: white;
    position: absolute;
    width: 20%;
    right: 35px;
    height: 250px;
    top: 60px;
    z-index: 11;
    border: 1px solid black;
    border-radius: 10px;
}
.details header {
    background-color: black;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 40%;
}
.details header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.details header > h2 {
    font-size: 20px;
}
.details header img {
    border-radius: 50px;
    position: absolute;
    top: 70px;
}
.details ul {
    margin-top: 25px;
    list-style: none;
}
.details {
    display: none;
}
.details ul li{
    margin-bottom: 10px;
}
.details ul li a {
    color: black;
}
.details ul li a :last-child {
    border: 1px solid black;
    padding: 5px 10px 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
}
.details ul li :last-child:hover {
    filter: invert();
    background-color: black;
    color: white;
}